<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162703898063-diudbkt1mve2qfcfvnq9tm3c0da7fdhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162703898063-diudbkt1mve2qfcfvnq9tm3c0da7fdhv</string>
	<key>API_KEY</key>
	<string>AIzaSyAT5N_r2StvJEp8-nNuATuMn19tIjItAJw</string>
	<key>GCM_SENDER_ID</key>
	<string>162703898063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawsplaydate.PawsPlaydate-App</string>
	<key>PROJECT_ID</key>
	<string>pawsplaydate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsplaydate-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162703898063:ios:7fb72f2960c465efe5ceba</string>
</dict>
</plist>